name: update-daily-inmates-stats

on:
  schedule:
    - cron: '30 0 * * *'

  workflow_dispatch:
    
jobs:
  Update-Inmates-Stats:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo content
        uses: actions/checkout@v3
      
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9.12'

      - name: Install Python Packages
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: run update stats job
        run:
          cd utils && python update_counts.py

      - name: Commit and push if changed
        run: |-
          git config user.name "Automated"
          git config user.email "actions.users@noreply.github.com"
          git add -A
          timestamp=$(date -u)
          git commit -m "Updated inmates stats ${timestamp}" || exit 0
          git push -f origin main